:root{
    --cream: #EC8F5E;
    --org: #F3B664;
    --lightorg:#F1EB90;
    --green:#9FBB73;
}
html{
    box-sizing: border-box;
}
*,*::after,*::before{
    box-sizing: inherit;
}
body{
    color: black;
    background-color: var(--cream);
    padding: 0;
    margin: 0;
}