html{
    box-sizing: border-box;
}
*,*::before, *::after{
     box-sizing: inherit;
}
.spacer{
    height: 150px;
}
.loader1{
    height: 5rem;
    align-items: center;
    display: flex;
    justify-content: center;
}
.loader1 {
    border: solid 5px red;
    transition: spinner1 all 5s 1s ease-out;
    border-radius: 50%;
    width: 4rem;
    height:4rem;
    border-top: white solid 5px;
    animation:spinner1 1s infinte 3s linear;
    animation-direction: alternate;
}
@keyframes spinner1{
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360 deg);
    }
}
.loader2{
    height: 5rem;
    align-items: center;
    display: flex;
    justify-content: center; 
}
.loader2 {
    border: solid 5px red;
    border-radius: 50%;
    width: 4rem;
    height:4rem;
    border-top: white solid 5px;
    border-bottom: white solid 5px;
    animation:spinner2 2s linear infinite;
}
@keyframes spinner2{
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(45);
    }
}
.loader3{
    height: 5rem;
    align-items: center;
    display: flex;
    justify-content: center; 
}
.loader3 first{
    border: solid 35px red;
    transition: ripple all 5s 1s ease-out;
    width: 1%;
    height:10rem;
    animation:ripple 1s infinte 3s linear;
}
.loader3 second{
    border: solid 35px red;
    transition: ripple all 5s 1s ease-out;
    width: 1%;
    height:10rem;
    animation:ripple 1s infinte 3s linear;
}
.loader3 third{
    border: solid 35px red;
    transition: ripple all 5s 1s ease-out;
    width: 1%;
    height:10rem;
    animation:ripple 1s infinte 3s linear;
}
@keyframes spinner2{
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(45);
    }
}